{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema de Processamento de Dados</title>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

    <h1>Sistema de Processamento de Dados</h1>

    <hr>

    <h2>Projeto Django</h2>

    <p>Este projeto será desenvolvido para demonstrar conhecimentos em Python, Django, APIs e Banco de Dados.</p>

</body>
</html>