{% extends "core/base.html" %}

{% block title %}
Novo Cliente
{% endblock %}

{% block content %}

<h2 class="mb-4">
    Novo Cliente
</h2>

<div class="card shadow-sm">

    <div class="card-body">

        <form method="POST">

            {% csrf_token %}

            <div class="mb-3">

                <label class="form-label">
                    Nome
                </label>

                <input
                    type="text"
                    name="nome"
                    class="form-control"
                    required>

            </div>

            <div class="mb-3">

                <label class="form-label">
                    Email
                </label>

                <input
                    type="email"
                    name="email"
                    class="form-control"
                    required>

            </div>

            <div class="mb-3">

                <label class="form-label">
                    Idade
                </label>

                <input
                    type="number"
                    name="idade"
                    class="form-control"
                    required>

            </div>

            <button class="btn btn-success">

                <i class="bi bi-check-circle"></i>

                Salvar

            </button>

            <a href="/clientes/" class="btn btn-secondary">

                Cancelar

            </a>

        </form>

    </div>

</div>

{% endblock %}